<div class="align-bottom">
<footer class="blog-footer">
    <p>Blog App Assignment-8 Nagaroo bootcamp</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</div>

<script>
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();

  $(document).ready(function () {
 
 window.setTimeout(function() {
     $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
         $(this).remove(); 
     });
 }, 3000);
  
 });
</script>
</body>
</html>